<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="ERPConStr" value="Data Source=DESKTOP-6CO4517;Initial Catalog=ERP;User ID=umarfarooq;Password=farooque12"/>
  </appSettings>

  <connectionStrings>  
    
    <add name="ERPConStr" connectionString="Data Source=DESKTOP-6CO4517;Initial Catalog=ERP;User ID=umarfarooq;Password=farooque12" providerName="System.Data.EntityClient"/>
    
  </connectionStrings>
</configuration>